<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    
    {{ partial "header.html" . }}

    <body lang="en">

        {{ partial "navbar.html" . }}

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-7 col-lg-5 track-description">
                    <h1 class="title">{{ .Title }}</h1>
                    {{ .Content }}
                    {{ if isset .Params "links" }}
                        

                      <div class="card card-outline-secondary mb-3 text-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                            <h6>External links</h6>
                            {{ range $i, $e := .Params.links }}
                                {{if $i}}, {{end}}
                                {{ $link := (split $e "->") }}
                                <a href="{{ (index $link 1) }}" target="_blank">{{ (index $link 0) }}</a>
                            {{ end }}
                            </blockquote>
                          </div>
                        </div>
                    {{ end }}    
                </div>
                <div class="col-lg-3 track-photos">
                    <track-photos></track-photos>
                </div>
                <div class="col-md-5 col-lg-4 track-map" >
                    <track></track>
                </div>
                <photo-gallery></photo-gallery>
            </div>

        </div>

        {{ partial "footer.html" . }}

        {{ if (or (isset .Aliases 0) (isset .Params "tracks") ) }} 
            <script src="/js/vendor/leaflet.awesome-markers.min.js"></script>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script src="/js/track-store.js"></script>
            <script src="/js/track.js"></script>
            <script src="/js/track-info.js"></script>
            <script src="/js/track-map.js"></script>
            <script src="/js/track-elevation.js"></script>
            <script src="/js/photo-store.js"></script>
            <script src="/js/track-photos.js"></script>
            <script src="/js/photo-gallery.js"></script>

            <script lang="javascript">
                var trackParams = {};
                {{ if isset .Params "region" }}
                    trackParams['region'] = {{ lower .Params.region }}
                {{ end}}
                {{ if isset .Params "tracks" }}
                    trackParams['trackIds'] = {{ .Params.tracks }};
                {{ else }}
                    trackParams['trackId'] = '{{ range first 1 .Aliases }}{{ substr . 1 }}{{ end }}';
                {{ end }}
                riot.mount('track', trackParams);
                riot.mount('track-photos', trackParams);
            </script>
        {{ end}}
        
    </body>
</html>