<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    
    {{ partial "header.html" . }}

    <body lang="en">

        {{ partial "navbar.html" . }}

        <div class="columns is-gapless">
            <div class="column">
                <div class="section">
                    <h1 class="title">{{ .Title }}</h1>
                    {{ .Content }}
                </div>
            </div>
            <div class="column is-one-quarter">
                <track-photos class="columns is-mobile is-gapless"></track-photos>
            </div>
            <div class="column is-one-third">
                <track></track>
            </div>
        </div>

        {{ partial "footer.html" . }}

        {{ if (or (isset .Aliases 0) (isset .Params "tracks") ) }} 
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script src="/js/track-store.js"></script>
            <script src="/js/track.js"></script>
            <script src="/js/track-info.js"></script>
            <script src="/js/track-map.js"></script>
            <script src="/js/track-elevation.js"></script>
            <script src="/js/photo-store.js"></script>
            <script src="/js/track-photos.js"></script>
            <script lang="javascript">
                var trackParams = {};
                {{ if isset .Params "region" }}
                    trackParams['region'] = {{ .Params.region }}
                {{ end}}
                {{ if isset .Params "tracks" }}
                    trackParams['trackIds'] = {{ .Params.tracks }};
                {{ else }}
                    trackParams['trackId'] = '{{ range first 1 .Aliases }}{{ substr . 1 }}{{ end }}';
                {{ end }}
                riot.mount('track', trackParams);
                riot.mount('track-photos', trackParams);
            </script>
        {{ end}}
        
    </body>
</html>