<nav class="nav">
  <div class="nav-left">
    <a class="nav-item is-brand" href="/">
      {{ .Site.Title }}
    </a>
  </div>

  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="#">
      Home
    </a>
    <a class="nav-item" href="#">
      News
    </a>
    <a class="nav-item" href="#">
      Browse
    </a>

    <span class="nav-item">
      <a class="button" >
        <span class="icon">
          <i class="fa fa-facebook"></i>
        </span>
        <span>Like</span>
      </a>
    </span>
  </div>
</nav>